.quienes-somos{
    display: flex;
}

.quienes-izquierda {
    background: url(/img/Nuestra-Empresa/quienes-somos.jpeg) no-repeat center/cover;
    width: 50%;
    height: 120vh;
}

.quienes-derecha{
 
    width: 50%;
    
}

.quienes-title{
    text-align: center;
    font-size: 35px;
    color: var(--azul-claro);
    font-weight: 600;
    margin: 20px 160px;
    border-bottom: 3px solid var(--mostaza-color);
    display: inline-block;
   
    
}

.quienes-text{
    color: var(--azul-oscuro);
    text-align: justify;
    margin: 0 100px;
    line-height: 1.5;
}

@media (max-width: 900px) {

    .quienes-somos{
        display: block;
    }

    .quienes-izquierda {
        background: url(/img/Nuestra-Empresa/quienes-somos.jpeg) no-repeat center/cover;
        background-attachment:fixed;
        width: 100%;
        height: 60vh;
        
        
    }
    
    .quienes-derecha{
     
        width: 100%;
        
    }
    
    .quienes-title{
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        color: var(--azul-claro);
        margin: 30px 45px;
        border-bottom: 3px solid var(--mostaza-color);
        display: block;
       
        
    }
    
    .quienes-text{
        color: var(--azul-oscuro);
        text-align: justify;
        margin: 30px 50px;
        line-height: 2;
    }
}